* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #6F4E37;
    padding: 30px;
    font-size: 25px;
    color: white;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.title {
    display: flex;
    align-items: center;
    gap: 5px;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    
}
.navigation a {
    text-decoration: none;
    color: white;
}
.bookatable button{
    background-color: white;
    color: #6F4E37;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
}

